 @media print {
     .content-header,
     .main-header,
     .main-sidebar,
     .no-print {
         display: none!important
     }
     .content-wrapper,
     .main-footer {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         margin-left: 0!important;
         min-height: 0!important
     }
     .layout-fixed .content-wrapper {
         padding-top: 0!important
     }
     .invoice {
         border: 0;
         margin: 0;
         padding: 0;
         width: 100%
     }
     .invoice-col {
         float: left;
         width: 33.3333333%
     }
     .table-responsive {
         overflow: auto
     }
     .table-responsive>.table tr td,
     .table-responsive>.table tr th {
         white-space: normal!important
     }
 }
 
  .p-3 {
     padding: 1rem!important
 }
 
  .row {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     margin-right: -7.5px;
     margin-left: -7.5px
 }
  @media (max-width:575.98px) {
     .table-responsive-sm {
         display: block;
         width: 100%;
         overflow-x: auto;
         -webkit-overflow-scrolling: touch
     }
     .table-responsive-sm>.table-bordered {
         border: 0
     }
 }
  .table {
     width: 100%;
     margin-bottom: 1rem;
     color: #212529;
     background-color: transparent
 }
 
 .table td,
 .table th {
     padding: .75rem;
     vertical-align: top;
     border-top: 1px solid #dee2e6
 }
 
 .table thead th {
     vertical-align: bottom;
     border-bottom: 2px solid #dee2e6
 }
 
 .table tbody+tbody {
     border-top: 2px solid #dee2e6
 }
 
 .table-sm td,
 .table-sm th {
     padding: .3rem
 }
 
 .table-bordered {
     border: 1px solid #dee2e6
 }
 
 .table-bordered td,
 .table-bordered th {
     border: 1px solid #dee2e6
 }
 
 .table-bordered thead td,
 .table-bordered thead th {
     border-bottom-width: 2px
 }
 
 .table-borderless tbody+tbody,
 .table-borderless td,
 .table-borderless th,
 .table-borderless thead th {
     border: 0
 }
 
 .table-striped tbody tr:nth-of-type(odd) {
     background-color: rgba(0, 0, 0, .05)
 }
 
 .table-hover tbody tr:hover {
     color: #212529;
     background-color: rgba(0, 0, 0, .075)
 }
 
 .table-primary,
 .table-primary>td,
 .table-primary>th {
     background-color: #b8daff
 }
 
 .table-primary tbody+tbody,
 .table-primary td,
 .table-primary th,
 .table-primary thead th {
     border-color: #7abaff
 }
 
 .table-hover .table-primary:hover {
     background-color: #9fcdff
 }
 
 .table-hover .table-primary:hover>td,
 .table-hover .table-primary:hover>th {
     background-color: #9fcdff
 }
 
 .table-secondary,
 .table-secondary>td,
 .table-secondary>th {
     background-color: #d6d8db
 }
 
 .table-secondary tbody+tbody,
 .table-secondary td,
 .table-secondary th,
 .table-secondary thead th {
     border-color: #b3b7bb
 }
 
 .table-hover .table-secondary:hover {
     background-color: #c8cbcf
 }
 
 .table-hover .table-secondary:hover>td,
 .table-hover .table-secondary:hover>th {
     background-color: #c8cbcf
 }
 
 .table-success,
 .table-success>td,
 .table-success>th {
     background-color: #c3e6cb
 }
 
 .table-success tbody+tbody,
 .table-success td,
 .table-success th,
 .table-success thead th {
     border-color: #8fd19e
 }
 
 .table-hover .table-success:hover {
     background-color: #b1dfbb
 }
 
 .table-hover .table-success:hover>td,
 .table-hover .table-success:hover>th {
     background-color: #b1dfbb
 }
 
 .table-info,
 .table-info>td,
 .table-info>th {
     background-color: #bee5eb
 }
 
 .table-info tbody+tbody,
 .table-info td,
 .table-info th,
 .table-info thead th {
     border-color: #86cfda
 }
 
 .table-hover .table-info:hover {
     background-color: #abdde5
 }
 
 .table-hover .table-info:hover>td,
 .table-hover .table-info:hover>th {
     background-color: #abdde5
 }
 
 .table-warning,
 .table-warning>td,
 .table-warning>th {
     background-color: #ffeeba
 }
 
 .table-warning tbody+tbody,
 .table-warning td,
 .table-warning th,
 .table-warning thead th {
     border-color: #ffdf7e
 }
 
 .table-hover .table-warning:hover {
     background-color: #ffe8a1
 }
 
 .table-hover .table-warning:hover>td,
 .table-hover .table-warning:hover>th {
     background-color: #ffe8a1
 }
 
 .table-danger,
 .table-danger>td,
 .table-danger>th {
     background-color: #f5c6cb
 }
 
 .table-danger tbody+tbody,
 .table-danger td,
 .table-danger th,
 .table-danger thead th {
     border-color: #ed969e
 }
 
 .table-hover .table-danger:hover {
     background-color: #f1b0b7
 }
 
 .table-hover .table-danger:hover>td,
 .table-hover .table-danger:hover>th {
     background-color: #f1b0b7
 }
 
 .table-light,
 .table-light>td,
 .table-light>th {
     background-color: #fdfdfe
 }
 
 .table-light tbody+tbody,
 .table-light td,
 .table-light th,
 .table-light thead th {
     border-color: #fbfcfc
 }
 
 .table-hover .table-light:hover {
     background-color: #ececf6
 }
 
 .table-hover .table-light:hover>td,
 .table-hover .table-light:hover>th {
     background-color: #ececf6
 }
 
 .table-dark,
 .table-dark>td,
 .table-dark>th {
     background-color: #c6c8ca
 }
 
 .table-dark tbody+tbody,
 .table-dark td,
 .table-dark th,
 .table-dark thead th {
     border-color: #95999c
 }
 
 .table-hover .table-dark:hover {
     background-color: #b9bbbe
 }
 
 .table-hover .table-dark:hover>td,
 .table-hover .table-dark:hover>th {
     background-color: #b9bbbe
 }
 
 .table-active,
 .table-active>td,
 .table-active>th {
     background-color: rgba(0, 0, 0, .075)
 }
 
 .table-hover .table-active:hover {
     background-color: rgba(0, 0, 0, .075)
 }
 
 .table-hover .table-active:hover>td,
 .table-hover .table-active:hover>th {
     background-color: rgba(0, 0, 0, .075)
 }
 
 .table .thead-dark th {
     color: #fff;
     background-color: #212529;
     border-color: #383f45
 }
 
 .table .thead-light th {
     color: #495057;
     background-color: #e9ecef;
     border-color: #dee2e6
 }
 
 .table-dark {
     color: #fff;
     background-color: #212529
 }
 
 .table-dark td,
 .table-dark th,
 .table-dark thead th {
     border-color: #383f45
 }
 
 .table-dark.table-bordered {
     border: 0
 }
 
 .table-dark.table-striped tbody tr:nth-of-type(odd) {
     background-color: rgba(255, 255, 255, .05)
 }
 
 .table-dark.table-hover tbody tr:hover {
     color: #fff;
     background-color: rgba(255, 255, 255, .075)
 }
 

 @media (max-width:767.98px) {
     .table-responsive-md {
         display: block;
         width: 100%;
         overflow-x: auto;
         -webkit-overflow-scrolling: touch
     }
     .table-responsive-md>.table-bordered {
         border: 0
     }
 }
 
 @media (max-width:991.98px) {
     .table-responsive-lg {
         display: block;
         width: 100%;
         overflow-x: auto;
         -webkit-overflow-scrolling: touch
     }
     .table-responsive-lg>.table-bordered {
         border: 0
     }
 }
 
 @media (max-width:1199.98px) {
     .table-responsive-xl {
         display: block;
         width: 100%;
         overflow-x: auto;
         -webkit-overflow-scrolling: touch
     }
     .table-responsive-xl>.table-bordered {
         border: 0
     }
 }
 
 .table-responsive {
     display: block;
     width: 100%;
     overflow-x: auto;
     -webkit-overflow-scrolling: touch
 }
 
 .table-responsive>.table-bordered {
     border: 0
 }
 
  .col,
 .col-1,
 .col-10,
 .col-11,
 .col-12,
 .col-2,
 .col-3,
 .col-4,
 .col-5,
 .col-6,
 .col-7,
 .col-8,
 .col-9,
 .col-auto,
 .col-lg,
 .col-lg-1,
 .col-lg-10,
 .col-lg-11,
 .col-lg-12,
 .col-lg-2,
 .col-lg-3,
 .col-lg-4,
 .col-lg-5,
 .col-lg-6,
 .col-lg-7,
 .col-lg-8,
 .col-lg-9,
 .col-lg-auto,
 .col-md,
 .col-md-1,
 .col-md-10,
 .col-md-11,
 .col-md-12,
 .col-md-2,
 .col-md-3,
 .col-md-4,
 .col-md-5,
 .col-md-6,
 .col-md-7,
 .col-md-8,
 .col-md-9,
 .col-md-auto,
 .col-sm,
 .col-sm-1,
 .col-sm-10,
 .col-sm-11,
 .col-sm-12,
 .col-sm-2,
 .col-sm-3,
 .col-sm-4,
 .col-sm-5,
 .col-sm-6,
 .col-sm-7,
 .col-sm-8,
 .col-sm-9,
 .col-sm-auto,
 .col-xl,
 .col-xl-1,
 .col-xl-10,
 .col-xl-11,
 .col-xl-12,
 .col-xl-2,
 .col-xl-3,
 .col-xl-4,
 .col-xl-5,
 .col-xl-6,
 .col-xl-7,
 .col-xl-8,
 .col-xl-9,
 .col-xl-auto {
     position: relative;
     width: 100%;
     padding-right: 7.5px;
     padding-left: 7.5px
 }
 
 .col {
     -ms-flex-preferred-size: 0;
     flex-basis: 0;
     -ms-flex-positive: 1;
     flex-grow: 1;
     max-width: 100%
 }
 
 .col-auto {
     -ms-flex: 0 0 auto;
     flex: 0 0 auto;
     width: auto;
     max-width: 100%
 }
 
 .col-1 {
     -ms-flex: 0 0 8.333333%;
     flex: 0 0 8.333333%;
     max-width: 8.333333%
 }
 
 .col-2 {
     -ms-flex: 0 0 16.666667%;
     flex: 0 0 16.666667%;
     max-width: 16.666667%
 }
 
 .col-3 {
     -ms-flex: 0 0 25%;
     flex: 0 0 25%;
     max-width: 25%
 }
 
 .col-4 {
     -ms-flex: 0 0 33.333333%;
     flex: 0 0 33.333333%;
     max-width: 33.333333%
 }
 
 .col-5 {
     -ms-flex: 0 0 41.666667%;
     flex: 0 0 41.666667%;
     max-width: 41.666667%
 }
 
 .col-6 {
     -ms-flex: 0 0 50%;
     flex: 0 0 50%;
     max-width: 50%
 }
 
 .col-7 {
     -ms-flex: 0 0 58.333333%;
     flex: 0 0 58.333333%;
     max-width: 58.333333%
 }
 
 .col-8 {
     -ms-flex: 0 0 66.666667%;
     flex: 0 0 66.666667%;
     max-width: 66.666667%
 }
 
 .col-9 {
     -ms-flex: 0 0 75%;
     flex: 0 0 75%;
     max-width: 75%
 }
 
 .col-10 {
     -ms-flex: 0 0 83.333333%;
     flex: 0 0 83.333333%;
     max-width: 83.333333%
 }
 
 .col-11 {
     -ms-flex: 0 0 91.666667%;
     flex: 0 0 91.666667%;
     max-width: 91.666667%
 }
 
 .col-12 {
     -ms-flex: 0 0 100%;
     flex: 0 0 100%;
     max-width: 100%
 }
  @media (min-width:576px) {
     .col-sm {
         -ms-flex-preferred-size: 0;
         flex-basis: 0;
         -ms-flex-positive: 1;
         flex-grow: 1;
         max-width: 100%
     }
     .col-sm-auto {
         -ms-flex: 0 0 auto;
         flex: 0 0 auto;
         width: auto;
         max-width: 100%
     }
     .col-sm-1 {
         -ms-flex: 0 0 8.333333%;
         flex: 0 0 8.333333%;
         max-width: 8.333333%
     }
     .col-sm-2 {
         -ms-flex: 0 0 16.666667%;
         flex: 0 0 16.666667%;
         max-width: 16.666667%
     }
     .col-sm-3 {
         -ms-flex: 0 0 25%;
         flex: 0 0 25%;
         max-width: 25%
     }
     .col-sm-4 {
         -ms-flex: 0 0 33.333333%;
         flex: 0 0 33.333333%;
         max-width: 33.333333%
     }
     .col-sm-5 {
         -ms-flex: 0 0 41.666667%;
         flex: 0 0 41.666667%;
         max-width: 41.666667%
     }
     .col-sm-6 {
         -ms-flex: 0 0 50%;
         flex: 0 0 50%;
         max-width: 50%
     }
     .col-sm-7 {
         -ms-flex: 0 0 58.333333%;
         flex: 0 0 58.333333%;
         max-width: 58.333333%
     }
     .col-sm-8 {
         -ms-flex: 0 0 66.666667%;
         flex: 0 0 66.666667%;
         max-width: 66.666667%
     }
     .col-sm-9 {
         -ms-flex: 0 0 75%;
         flex: 0 0 75%;
         max-width: 75%
     }
     .col-sm-10 {
         -ms-flex: 0 0 83.333333%;
         flex: 0 0 83.333333%;
         max-width: 83.333333%
     }
     .col-sm-11 {
         -ms-flex: 0 0 91.666667%;
         flex: 0 0 91.666667%;
         max-width: 91.666667%
     }
     .col-sm-12 {
         -ms-flex: 0 0 100%;
         flex: 0 0 100%;
         max-width: 100%
     }
     .order-sm-first {
         -ms-flex-order: -1;
         order: -1
     }
     .order-sm-last {
         -ms-flex-order: 13;
         order: 13
     }
     .order-sm-0 {
         -ms-flex-order: 0;
         order: 0
     }
     .order-sm-1 {
         -ms-flex-order: 1;
         order: 1
     }
     .order-sm-2 {
         -ms-flex-order: 2;
         order: 2
     }
     .order-sm-3 {
         -ms-flex-order: 3;
         order: 3
     }
     .order-sm-4 {
         -ms-flex-order: 4;
         order: 4
     }
     .order-sm-5 {
         -ms-flex-order: 5;
         order: 5
     }
     .order-sm-6 {
         -ms-flex-order: 6;
         order: 6
     }
     .order-sm-7 {
         -ms-flex-order: 7;
         order: 7
     }
     .order-sm-8 {
         -ms-flex-order: 8;
         order: 8
     }
     .order-sm-9 {
         -ms-flex-order: 9;
         order: 9
     }
     .order-sm-10 {
         -ms-flex-order: 10;
         order: 10
     }
     .order-sm-11 {
         -ms-flex-order: 11;
         order: 11
     }
     .order-sm-12 {
         -ms-flex-order: 12;
         order: 12
     }
     .offset-sm-0 {
         margin-left: 0
     }
     .offset-sm-1 {
         margin-left: 8.333333%
     }
     .offset-sm-2 {
         margin-left: 16.666667%
     }
     .offset-sm-3 {
         margin-left: 25%
     }
     .offset-sm-4 {
         margin-left: 33.333333%
     }
     .offset-sm-5 {
         margin-left: 41.666667%
     }
     .offset-sm-6 {
         margin-left: 50%
     }
     .offset-sm-7 {
         margin-left: 58.333333%
     }
     .offset-sm-8 {
         margin-left: 66.666667%
     }
     .offset-sm-9 {
         margin-left: 75%
     }
     .offset-sm-10 {
         margin-left: 83.333333%
     }
     .offset-sm-11 {
         margin-left: 91.666667%
     }
 }
 